header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header img {
  height: 50px;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  font-weight: bold;
}
